/*Global*/

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/rubik-800.woff2") format("woff2");
  font-display: swap;
}


body {
  min-width: 1160px;
  margin: 0;
  padding: 0;

  font-family: 'Rubik', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #444444;
  background-color: #FFFFFF;
}

img {
  min-width: 100%;
  height: auto;
}

.link {
  display: inline-block;

  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;

  color: #000000;
  background-color: #FFE17F;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}
/*header*/

.main-header {
  background-color: #FFE17F;
  color: #000000;
}

.logo {
  display: block;
  width: 145px;
  height: 36px;
}

.main-header__form {
  font-size: 16px;
  line-height: 20px;
}

.user-list a {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;

  color: #000000;
}

.main-nav__item a,
.main-nav__link {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
}

.user-item a,
.main-catalog__item a {
  font-family: 'Rubik', Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #444444; 
}

/*slider*/

.slider-left__list,
.slider-right__list,
.categories__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-left__item {
  width: 560px;
  height: 560px;
}

.slider-right__title {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;

  color: #000000;
}

dd {
  font-size: 16px;
}

dt {
  font-size: 36px;
  line-height: 30px;
}

/*categories*/

.categories__img {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}

.categories__item h3 {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

/*service-slider*/

.service-slider {
  background-color: #F0F0F0;
}

.delivery-main__title {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;

  color: #000000;
}

.delivery-main__text {
  font-family: 'Rubik', Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #444444; 
}

.service-slider__link {
  display: block;
  width: 100%;
}

/*info-block*/

.info-block {
  display: flex;
}

.info-block__title {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;

  color: #000000;
}

.info-block__text {
  font-family: 'Rubik', Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #444444; 
}


.company-info__item {
  font-family: 'Rubik', Arial, sans-serif;
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  color: #444444; 
}

.contacts__title {
  font-family: 'Rubik', Arial, sans-serif;
  text-transform: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: #444444; 
}

.contacts__phone {
  text-decoration: underline;
  color: #444444;
}

/*subscription*/

.subscription {
  background-color: #F0F0F0;
}

.subscription__title {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;

  color: #000000;
}

.subscription__text {
  font-family: 'Rubik', Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #444444; 
}

/*footer*/

.main-footer {
  background-color: #444444;
}

.logo-footer {
  display: block;
  width: 145px;
  height: 36px;
}

.main-footer__text,
.main-footer__phone {
  font-family: 'Rubik', Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #FFFFFF;
}

.main-nav--footer a {
  color: #FFFFFF;
}

.socials-link {
  display: block;
  width: 40px;
  height: 40px;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.copyright {
  display: block;
  width: 115px;
  height: 33px;
}

/*catalog*/

.main-catalog__title {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;

  color: #000000;
}

.breadcrumbs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__link {
  font-family: 'Rubik', Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

/*sorting*/

.sorting__title {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;
}

.sorting__text {
  font-family: 'Rubik', Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #000000;
}

/*catalog-product*/

.catalog-product__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-product__item {
  display: block;
  width: 360px;
  height: 452px;
}

.catalog-product__text {
  font-family: 'Rubik', Arial, sans-serif;
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  color: #000000;
}

.catalog-product__price {
  font-family: 'Rubik', Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #444444;
}