/*Global*/

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/rubik-800.woff2") format("woff2");
  font-display: swap;
}


body {
  min-width: 1160px;
  margin: 0;
  padding: 0;

  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #444444;
  background-color: #ffffff;
}

img {
  min-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}
/*header*/

.main-header {
  background-color: #ffe17f;
  color: #000000;
}

.logo {
  display: block;
  width: 145px;
  height: 36px;
}

.main-header__bar {
  display: flex;
}

.main-header__form {
  font-size: 16px;
  line-height: 20px;
}

.user-list,
.main-catalog__list,
.main-nav__list,
.slider-left__list,
.slider-right__list,
.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item a,
.main-nav__link {
  padding: 10px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
}

.user-list {
  display: flex;
}

.user-list a {
  text-decoration: none;

  color: #000000;
}

.main-catalog {
  display: flex;
  justify-content: space-between;
}

.main-catalog__list {
  display: none;
}

.main-catalog__link {
  font-size: 16px;
  line-height: 18px;

  text-decoration: none;
  color: #000000;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
}

/*slider*/

.slider {
  display: flex;
}

.slider-left__item {
  width: 560px;
  height: 560px;
}

.title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;

  color: #000000;
}

.link {
  display: inline-block;

  font-family: "Raleway" Arial, sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
  background-color: #ffe17f;
}

dd {
  font-size: 16px;
}

dt {
  font-size: 36px;
  line-height: 30px;
}

/*categories*/

.categories__item {
  width: 160px;
  height: 253px;
  background-repeat: no-repeat;
  background-position: top;
}

.categories__item--image1 {
  background-image: url("../image/categories/categories-1.svg");
}

.categories__item--image2 {
  background-image: url("../image/categories/categories-2.svg");
}

.categories__item--image3 {
  background-image: url("../image/categories/categories-3.svg");
}

.categories__item--image4 {
  background-image: url("../image/categories/categories-4.svg");
}

.categories__item--image5 {
  background-image: url("../image/categories/categories-5.svg");
}

.categories__item--image6 {
  background-image: url("../image/categories/categories-6.svg");
}

.categories__item h3 {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 24px;
}

/*service-slider*/

.service-slider {
  background-color: #f0f0f0;
}

/*info-block*/

.info-block {
  display: flex;
}

.company-info__item {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 700;
  line-height: 20px;
}

.contacts__title {
  font-weight: 700;
  font-size: 24px;
}

.contacts__phone {
  text-decoration: underline;
  color: #444444;
}

/*subscription*/

.subscription {
  background-color: #f0f0f0;
}

/*footer*/

.main-footer {
  background-color: #444444;
}

.logo-footer {
  display: block;
  width: 145px;
  height: 36px;
}

.main-footer__text,
.main-footer__phone {
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}

.main-nav--footer a {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.socials-link {
  display: block;
  width: 40px;
  height: 40px;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.copyright {
  display: block;
  width: 115px;
  height: 33px;
}

/*catalog*/

.breadcrumbs__list,
.catalog-product__list,
.catalog-pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;

  color: #000000;
}

/*sorting*/

.sorting__title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;
}

/*catalog-product*/

.catalog-product__item {
  display: block;
  width: 360px;
  height: 452px;
}

.catalog-product__text {
  font-weight: 700;
  line-height: 20px;

  color: #000000;
}

.catalog-product__price {
  line-height: 21px;

  color: #444444;
}

.catalog-pagination {
  display: flex;
  justify-content: space-between;
  width: 760px;
  background-color: #ebebeb;
}

.catalog-pagination__list {
  display: flex;
}

.catalog-pagination__list a {
  display: block;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;

  color: #444444;
  opacity: 0.3;
}

.catalog-pagination__button {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}
